/* Esto es un comentario*/
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    
    padding: 80px 20px 0;
    background-color: rgb(31,58,72);
    font-family: sans-serif;
}
section strong, i, u{
    background-color: #2A5B74;
    color: black;
}
section p {
    background-color: rgb(31,58,72);;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
}

h1,h2 {
    text-align: center;
}

h1 {
    background-color: #D00000;
    color: white;
}

h2 {
    background-color: #595457;
    color: white;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
}

nav a{
    text-decoration: none;
    font-size: 20px;
}

nav a:hover{
    color: red;
    font-size: 22px;
    transition-delay: 0.2s;
}

nav{
    text-align: center;
}

thead tr{
    background-color: black;
    color: white;
}

tbody tr:nth-child(even){
    background-color: white;
}

tbody tr:nth-child(odd){
    background-color: grey;
}

/*definir el uso de etiquetas con "id"*/
#logo{
    font-size: 22 px;
    padding: 0 40px;
    line-height: 80px;
}

/*class para grupos de diseño*/

.nombre{
    font-family: cursive;
}

.encabezado{
    background-color: #D00000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

.lateralI{
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 20px;
    width: 15%;
    background-color: #8DA7BE;
}

.lateralD{
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 20px;
    width: 15%;
    background-color: #8DA7BE;
}

.contenido {
    position: fixed;
    top: 80px;
    left: 15%;
    right: 15%;
    bottom: 20px;
    background-color: #2A5B74;
    overflow-y: scroll;
}
.pie{
     position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: black;
}

.foto{
    padding-left: 10px; 
    padding-top: 5px;
    padding-bottom: 5px;
}

#ultimo-p{
    padding-bottom: 10px;
}

.nav-menu{
    margin-right: 40px;
    list-style: none;
}

.nav-datos{
    margin-right: 40px;
    list-style: none;
}

.nav-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
}

.nav-menu-link{
    
    padding: 8px 12px;
    color: black;
    
}

.nav-menu-link:hover{
    
    padding: 8px 12px;
    background-color: #024070;
    border-radius: 10px;
    color: white;
}